@using Model;
@using Microsoft.AspNet.Mvc.Facebook.Models
@model UserForMainPage
@{
    ViewBag.Title = "Home Page";
}



<article id="content">
    <div class="panel-info">
        <h4 style="color:red">Застосування знаходиться у стадії відлагодження!</h4>
        <h4 style="color:red">Будемо дуже вдячні за відгуки на <a target="_blank" href="https://www.facebook.com/pages/%D0%A2%D0%B2%D1%96%D0%B9%D0%93%D0%BE%D0%BB%D0%BE%D1%81/261341414022098">сторінці застосування</a>.</h4>
        <h4 style="color:red">Всі помилки будуть виправлені у найближчий час.</h4>
        <p>Захищене зважене голосування FB-користувачів. </p>
        <p>Коли користувачів додатку стане 100 000, буде зареєстровано партію зі статутом, що міститиме зобов’язання виконувати рішення, прийняті за допомогою цього додатку. </p>
        <p>Шляхом голосування користувачів додатку з них самих формується список з 450 кандидатів у народні депутати. </p>
        <p>Перед затвердженням списку всі кандидати повинні будуть укласти угоду з міжнародною юридичною компанією, з такою умовою: якщо в процесі роботи депутата його/її рейтинг в цій системі впаде нижче певного рівня – депутат зобов’язаний протягом місяця подати до ЦВК заяву про припинення своїх повноважень або сплатити штраф до бюджету України у розмірі, еквівалентному $100 000 000. </p>
        <p>Якщо публічні соцопитування за два місяці до виборів покажуть, що партія долає виборчий бар’єр – вона йде на вибори.</p>
        <p>Для запобігання популізму, накруток та скуповування голосів вага голосу залежить від авторитету голосувальника.</p>
        <p>Ви можете збільшити авторитет іншого користувача додатку, подякувавши йому.</p>

        <p>Більш детальну інформацію про систему, ви можете знайти за <a target="_blank" href="http://narodna-rada.org/">посиланням.</a> </p>
    </div>


</article>